html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

pre, .math {
  overflow-x: scroll;
  font-size: 16px;
}

code[class*="language-"], pre[class*="language-"] {
  font-size: 14px;
}

code {
  font-size: 14px;
}

blockquote {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #eee
}

.comment {
  font-style:italic;
}

.attribution {
  font-size: 12px;
}

audio {
  width: 100%
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #0d6efd;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0d6efd;
  cursor: pointer;
}

th {
  padding-right: 30px;
}

td {
  padding-right: 30px;
}

.button-and-slider {
  display: flex;
  flex-direction: row;
  align-items: center; 
  margin-bottom: 10px;
}

.excite-button {
  cursor: pointer;
  outline:0;
  color: white;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: .25rem;
  margin-right: 25px;
  transition: color .15s ease-in-out,background-color .05s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
}

.compact {
  margin-right: 0px;
}

.pushed-button {
  background-color: red
}

.excite-button:not(.pushed-button):hover   {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

.selected {
  background-color: #38823b;
}



.arrows-button {
  cursor: pointer;
  outline: 0;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
}

.arrows-button:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}


.lines-button {
  cursor: pointer;
  outline: 0;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 6px 12px;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #0d6efd;
  border-color: #0d6efd;
  margin-right: 25px;
}
.lines-button:hover{
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}




.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}